/*Soft reset do CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
/*("http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg")*/
body {
    background-image: url("https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  /*@media significa se (altura for pelo menos: tantos pixels) { algo vai acontecer como: font-size: tantos pixels*/ 
    /* Se a tela tiver pelo menos 400px o site vai carregar esses estilos!*/
    /* breakpoints= pontos de quebra/transisão */
  @media (min-width: 400px){
    body {
      font-size: 20px;
    }
  }
  header {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

  }
  .menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0px;
  }
  .menu li {
    list-style: none;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu a {
    display: block;
    padding: 10px 20px;
  }
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover {
    color: teal;
    text-decoration: underline;
  }
  .site-title {
    color: whitesmoke;
    text-align: center;
    font-size: 4em;
    font-family: 'Bangers', cursive;
  }
  .site-subtitle{
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    font-family: 'Handlee', cursive;
  }
  .hobbies {
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    height: 100vh;
  }
  .img-hobbies {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
  }
  .hobbies h2 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin-bottom: 1em;
  }
  .hobbies .grid {
    display: grid;
    gap: 1.5em;
  }
  @media (min-width: 560px){
    .hobbies .grid {
      grid-template-columns: 240px 240px;
  }
  @media (min-width: 880px){
    .hobbies .grid {
      grid-template-columns: 240px 240px 240px;
      align-content: center;
      justify-content: center;
      height: calc(100vh - 4em - 48px - 1em);
  }
  .hobbies figure {
    text-align: center;
  }
  /*@media (min-width: 1200px) {
    .img-hobbies{
    height: auto;
    width: 100%;
    }
  }*/